# IDE and Project
.idea/
*.iml
target/
kafka_data/

# Credentials and Secrets
**/src/main/resources/google/service-account.json
**/src/main/resources/google/oauth-client-secret.json
**/src/main/resources/docusign/private.key
**/*.pem
**/*.p12
**/*.key
.env

# Logs and Scripts
*.log
pids.txt
start_all.sh
